<footer>
    <div id="footer-seperator">
        <a id="footer-logo" href="/"><img src="/icons/me.jpg" alt="KZD Logo"></a>
        <ul id="page-links">
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/cart">Cart</a></li>
        </ul>
        <ul id="contact-links">
            <li><a href="mailto:kmzdoherty@gmail.com">kmzdoherty@gmail.com</a></li>
            <li>913|677|4800</li>
        </ul>
    </div>
    <i>Copyright 2024 | KZDesign | Website Built by Charlie Doherty</i>
</footer>