<header>
    <div id="header-seperator">
        <div id="page-logo">
            <ul>
                <li> <a href="/"><img src="/icons/logo.png" alt="KZD Logo"></a>
                </li>
                <li>
                    <i>Your space, your style</i>
                </li>
            </ul>
        </div>
        <nav>
            <ul>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/cart">Cart</a></li>
            </ul>
        </nav>
    </div>
</header>