<header>
  <div id="header-seperator">
    <div id="page-logo">
      <a href="/"><img src="/icons/logo.png" alt="KZD Logo"></a>
      <i>Your space, your style</i>
    </div>
    <nav id="navbar">
      <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/cart">Cart</a></li>
      </ul>
    </nav>
    <button id="drawer-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>