<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("includes/head") %>
</head>

<body>
  <%- include("includes/header") %>
  <main>
    <h1>Thank your for contacting me!</h1>
    <h2>I'll be in touch</h2>
  </main>
  <%- include("includes/footer") %>
</body>

</html>