<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("includes/head") %>
  <link rel="stylesheet" href="styles/contact.css">
</head>

<body>
  <%- include("includes/header") %>
  <%- include("includes/side-drawer") %>

  <main>
    <h1>Contact Me!</h1>
    <form action="/contact" , method="POST">
      <div class="form-control">
        <label for="comment">What can I help you with?</label>
        <textarea name="comment" id="comment" rows="5" required></textarea>
      </div>
      <button>Submit</button>
    </form>
  </main>
  <%- include("includes/footer") %>
</body>

</html>