<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("includes/head") %>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <%- include("includes/header") %>
  <%- include("includes/side-drawer") %>
  <main>
    <h1 id="title">KZD Design Group</h1>
    <div id="featured">
      <img src="/images/14321Juniper0003.jpg" alt="Furnished Living Room">
      <img src="/images/1022doherty-23edited.jpg" alt="Furnished Living Room">
      <img src="/images/07.jpg" alt="Furnished Living Room">
    </div>
    <ul id="blurb">
      <li id="stock-container"><img src="/icons/tools.jpg" alt="interior Design Tools"></li>
      <li id="story">
        <p>
          As an interior designer, I am dedicated to transforming your spaces into stylish, functional, and
          personalized environments that reflect your unique taste and lifestyle. My approach is
          client-centric,
          ensuring that every project is tailored to meet your specific needs and preferences.
        </p>
      </li>
    </ul>
  </main>
  <%- include("includes/footer") %>
</body>

</html>