@font-face {
    font-family: "Century Gothic";
    src: url(fonts/CenturyGothic.ttf);
}

body {
    font: 1rem "Century Gothic";
    text-align: center;
    margin: 0;
    color: navy;
    background-color: rgb(233, 243, 253);
}

header {
    padding: 1.5rem;
    background-color: rgb(219, 236, 252);
}

header.fixed {
    position: sticky;
    top: 0;
    left: 0;
}

header ul {
    padding: 0 1rem;
    margin: 0;
    list-style: none;
}

#header-seperator {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-logo {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

#page-logo img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
}

header i {
    font-size: 1rem;
    font-weight: 400;
}

#navbar {
    display: none;
}

#navbar ul {
    display: flex;
    margin: 1.5rem 0;
}

#navbar a {
    font-weight: 700;
    font-size: 1.25rem;
    padding: .5rem;
    color: rgb(243, 9, 204);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: navy;
}

#drawer-btn {
    display: flex;
    flex-direction: column;
    width: 2rem;
    height: 2rem;
    justify-content: space-around;
    padding: 0.1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#drawer-btn span {
    width: 2rem;
    height: 2px;
    background-color: navy;
}

#mobile-drawer {
    display: none;
}

#mobile-drawer.open {
    display: block;
    position: fixed;
    top: 10rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 243, 253);
}

#mobile-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    padding: 0;
}

#mobile-drawer .nav-item {
    margin: 1.5rem 0;
}

#mobile-drawer .nav-item a {
    text-decoration: none;
    color: navy;
    font-size: 1.5rem;
}

#mobile-drawer .nav-item a:hover,
#mobile-drawer .nav-item a:active {
    color: rgb(243, 9, 204);
}

@media (min-width: 60rem) {
    #main-header {
        padding: 0 5%;
    }

    #navbar {
        display: block;
    }

    #drawer-btn {
        display: none;
    }

    #mobile-drawer.open {
        display: none;
    }
}

main {
    height: 50vh;
}

h1 {
    color: navy;
    text-shadow: .1rem .1rem .2rem gray;
    font-size: 5rem;
    text-transform: uppercase;
    margin: 3rem auto;
}

footer {
    padding-top: 2.5rem;
    text-align: end;
    background-color: rgb(219, 236, 252);
}

#footer-logo {
    width: 10rem;
    height: 10rem;
}

#footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#footer-seperator {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

#footer-seperator a {
    color: navy;
    text-decoration: none;
}

#page-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#page-links a {
    padding: .25rem .5rem;
    color: rgb(243, 9, 204);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#page-links a:hover {
    color: navy;
}

footer i {
    padding: .5rem;
}

@media (max-width: 60rem) {
    #footer-logo {
        display: none;
    }
}

@media (max-width: 45rem) {
    #title {
        font-size: 2.5rem;
    }

    #footer-seperator {
        margin-bottom: 0;
    }

    #page-links a {
        font-size: 1rem;
    }

    #contact-links {
        font-size: 1rem;
    }

    footer i {
        font-size: .5rem;
    }
}