main {
    text-align: center;
    margin: 5rem;
}

#title {
    margin: 0 0 2rem 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    color: navy;
    text-shadow: 1px 1px 4px gray;
}

#featured {
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

#featured img {
    width: 100%;
    object-fit: cover;
    border-radius: 2px;
}

#featured img:first-of-type {
    grid-row: 1 / span 2;
    height: 100%;
}

#blurb {
    display: flex;
    margin-top: 6rem;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
}

#blurb ul {
    margin: 0;
    padding: 0;
}

#blurb li {
    list-style: none;
}

#story {
    width: 50%;
    margin: auto;
}

#stock-container {
    width: 100%;
}

#stock-container img {
    border-radius: 10px;
    width: 100%;
    margin: 0;
    object-fit: cover;
}

#story p {
    font-style: italic;
    font-size: 1.5rem;
}

@media (max-width: 60rem) {
    #blurb {
        display: block;
    }

    #story {
        margin: 2rem auto;
        width: 100%;
    }
}

@media (max-width: 30rem) {
    #featured {
        display: block;
    }

    #story p{
        font-size: 1rem;
    }
}